version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: youtube-backend-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app   # Live code sync
      - /app/node_modules  # Prevent node_modules conflict
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    environment:
      - CHOKIDAR_USEPOLLING=true    
    command: ["npm", "run", "dev"]

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: video_platform
    ports:
      - "5435:5432"   # FIXED
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
